
@import "variables";

@font-face {
  font-family: "Futura-Light";
  src: url("../fonts/Futura-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FutuMd";
  src: url("../fonts/FutuMd.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gatkins-Demo";
  src: url("../fonts/Gatkins-Demo.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Muli-Bold";
  src: url("../fonts/Muli-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Muli-Black";
  src: url("../fonts/Muli-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?qyrgnp');
  src:  url('../fonts/icomoon/icomoon.eot?qyrgnp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?qyrgnp') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?qyrgnp') format('woff'),
    url('../fonts/icomoon/icomoon.svg?qyrgnp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 21px;
  color: #828282;
  font-family: "Futura-Light", serif;
  font-weight: 400;
  overflow-x: hidden;
}

/*text-styles*/
.text-bold{
  font-family: "FutuMd";
}
.font-big{
  font-size: 1.6rem;
}

/***Navbar***/
.navbar {
  //z-index: 2;
  padding-left: 2rem;
  padding-right: 2rem;
  //top: 0;
  //left: 0;
  // right: 0;
  //background-color: rgba(255, 255, 255, 0.9);
  background-color: white;
  box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.1);
  //position: absolute;
}
.navbar-nav {
  align-items: end;
  float: right;
  width: auto;
  padding: 0rem 1rem;
}
#navbarNav {
  justify-content: flex-end;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
.navbar-dark .navbar-toggler {
  color: transparent;
}
.logo {
  width: 12rem;
}
.logo-responsive, .button-logo-responsive{
  width: 46%;
}
.nav-link {
  color: $colour-dark !important;
  font-size: 0.9rem;
  margin: 0 0.5rem;
  &:hover {
    color: $colour-salmon !important;
  }
}
/*
.navbar ul li .nav-link {
  position: relative;
}*/
.dropdown-menu{
  border: none;
  box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.05);
  border-radius: 0;
}
.dropdown-item:focus, .dropdown-item:hover{
  color: $colour-salmon !important;
  //background-color: #FBFBFB;
  background-color: white;
}
.img-home{
  background-image: url(../img/img-home.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  margin-bottom: 8rem;
}
.img-home h1{
  font-family: "Gatkins-Demo", serif;
  color: white;
  font-size: 6.5rem;
  height: 90vh;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box-container-home{
  margin-bottom: 8rem;
}
.height-img{
  height: 34rem;
}
.img-home-natalie{
  height: auto;
}
.text-home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 34rem;
}
.text-home h1{
  font-family: "Gatkins-Demo", serif;
  color: $colour-red;
  font-size: 3.5rem;
  margin-bottom: 0;
  line-height: 2.5rem;
}
.text-home p{
  text-align: center;
  width: 70%;
}
.text-home span{
  font-size: 1.4rem;
}
.line{
  height: 2px;
  background-color: $colour-dark;
  width: 90%;
  margin: auto;
}
.box-image{
  margin: 7rem 0;
}
.box-home{
  //background-color: $colour-light-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.box-home h1{
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
  color: $colour-red;
  line-height: 2rem;
}
.box-home p{
  width: 80%;
}
.box-home p:nth-child(5){
  font-size: 1.1rem;
  width: 70%;
}
.box-home .font-big{
  color: $colour-blue;
  font-size: 1.7rem;
}
.box-home .font-big-01{
  color: $colour-honey;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Muli-Bold";
}
.box-home .font-big:first-child{
  font-size: 2rem;
}
.icon-05{
  width: 15%;
}
.img-home-02{
  background-image: url(../img/img-home-02.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30rem;
}
/*
.carousel-indicators [data-bs-target]{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 9px;
}*/
.bg-stars{
  background-image: url(../img/img-home-stars.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boton-ver-mas{
  text-decoration: none;
  background-color: $colour-dark;
  padding: .5rem 0;
  border-radius: 50px;
  width: 50%;
  text-align: center;
  margin-top: 2rem;
}
.boton-ver-mas a{
  text-decoration: none;
  color: white;
}

.bg-stars>a{
  text-align: center;
  text-decoration: none;
  color: $colour-dark;
  &:hover{
    color: $colour-red;
  }
}
.bg-stars a h1{
  font-size: 1.7rem;
  width: 60%;
  margin: auto;
  line-height: 3rem;
  font-family:"Muli-Bold";
}
.bg-stars a span{
  font-family: "Gatkins-Demo", serif;
  font-size: 4.3rem;
}
.box-title-encuentros{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box-title-encuentros h1{
  text-align: center;
  font-family: "Futura-Light";
  font-size: 2.3rem;
  color: $colour-light-brown;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
  margin-bottom: 0;
  font-weight: 300;
}
.box-title-encuentros h3{
  font-family: "Gatkins-Demo", serif;
  font-size: 5rem;
  color: $colour-light-brown;
}
.box-prox-encuentros{
  margin: 8rem auto;
}
.box-prox-encuentros h2{
  font-size: 1.8rem;
  text-align: center;
  margin: 2rem 0 4rem 0;
  color: $colour-dark-brown;
}
.box-prox-encuentros h2 span{
  font-family: "Muli-Bold", serif;
}
.box-button{
  text-align: center;
  margin-bottom: 6rem;
  background-color: $colour-light-salmon;
  border-radius: 50px;
  width: 35%;
  padding: .6rem 2rem;
  margin: auto;
  &:hover{
    background-color: $colour-salmon;
  }
}
.box-button a{
  text-decoration: none;
  color: white;
}

/*Galery Grid: index - sobre mi*/
.galeria{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 70%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}
.galery{
  width: 70%;
  margin: auto;
  padding: 8rem 0 6rem 0;
  overflow: hidden;
}
.galery img{
  cursor: pointer;
}
.galery .col-12{
  padding-right: .2rem;
}
.galeria img, .galery img{
  width: 100%;
  vertical-align: top;
  object-fit: cover;
  transition: transform 0.5s;
}
.galeria .container-scale, .galery .container-scale{
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  cursor: auto;
}
.galeria .container-scale:hover img, .galery .container-scale:hover img{
  transform: scale(1.3);
}

/***Testimonios***/
.icon-04{
  width: 8%;
  animation: icon-04-animated 4s infinite linear;
}

@keyframes icon-04-animated{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}
.wrapper {
  width: 100%;
  padding: 40px 0 1px 0;
  position: relative;
}
.slider-testimonial {
  width: 85%;
  max-width: 1400px;
  margin: auto;
}
.testimonial-client{
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-client img{
  width: 4rem;
}
.ssslide img{
  margin-right: 1rem !important;
}
.testimonial-client p {
  margin: 0 !important;
  width: auto !important;
}
.client-name {
  text-align: center;
  color: $colour-dark;
  font-size: 1rem;
}
.testimonial-text {
  padding: 51px 60px 30px 60px;
  color: $colour-dark;
  border: 1px solid $colour-dark;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.testimonial-text:first-child {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}
.testimonial-text p {
  margin: auto;
  text-align: center;
  width: 90%;
}

/*Contacto*/
.bg-contacto{
  background-color: $colour-blue;
  color: white;
  padding: 3rem 0;
  margin-top: 8rem;
  text-align: center;
}
.bg-contacto h1{
  font-family: "Gatkins-Demo", serif;
  font-size: 4.5rem;
}
.bg-contacto p{
  margin-bottom: 2rem;
  color: $colour-dark;
  font-family: "FutuMd", serif;
}
.bg-contacto div a{
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 50px;
  padding: .5rem 2.3rem;
  &:hover{
    background-color: #92ADC1;
    color: white;
  }
}

/*Footer*/
footer{
  background-color: $colour-super-light-brown;
  padding: 2.5rem 2.5rem;
}
footer a{
  text-decoration: none;
  color: $colour-dark;
  font-size: 1rem;
  &:hover{
    color: white;
  }
}
.icon-instagram, .icon-facebook{
  color: $colour-dark;
  font-size: 1rem;
  margin-right: .5rem;
  background-color: white;
  border-radius: 50px;
  padding: .7rem;
  &:hover{
    background-color: rgba(0,0,0,0.2);
    color: white;
  }
}

/*Contacto*/
.img-contacto{
  background-image: url(../img/bg-contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 90vh;
}
.contenedor-box-form{
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box-form-contacto{
  background-color: white;
  width: 40%;
  padding: 3rem 1rem;
  margin-left: 2rem;
}
.box-form-contacto form{
  width: 75%;
  margin: auto;
}
.wrapper-input-contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-bottom: 1rem;
  ::-webkit-scrollbar {
    display: none;
  }
}
.wrapper-input-contacto .form-control{
  color: #707070;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $colour-dark;
  font-size: .9rem;
  width: auto;
  margin-top: 1rem;
  margin-right: 1rem;
  height: 3rem;
  line-height: 2.5;
}
.form-control:focus{
  box-shadow: none;
}
.wrapper-textarea{
  width: 100%;
}
textarea{
  width: 100% !important;
}
.btn-send-contacto {
  text-decoration: none;
  color: white;
  background-color: $colour-super-light-brown;
  border: none;
  border-radius: 50px;
  padding: .5rem 3rem;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  &:hover {
    color: white;
    background-color: $colour-light-brown;
  }
}
.mail-sent {
  background-color: $colour-light-salmon;
  width: 100%;
  padding: 2rem 0;
  margin-top: 3em;
  text-align: center;
  font-weight: 400;
}
.mail-sent p {
  width: 100%;
  color: white;
  font-weight: 900;
  margin-bottom: 0;
}
/*Sobre mi*/
.container-sobreMi{
  height: 90vh;
}
.box-sobreMi{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}
.box-sobreMi p{
  width: 70%;
}
.box-sobreMi h1{
  font-family: "Gatkins-Demo", serif;
  color: $colour-red;
  font-size: 3.5rem;
  line-height: 3rem;
}
.box-sobreMi .text-n1{
  color: $colour-light-brown;
}
.box-sobreMi .text-n2{
  color: $colour-blue;
  font-size: 1.5rem;
}
.box-sobreMi .text-n2 span{
  font-size: 2rem;
}
video{
  margin-top: 3rem;
  height: 75% !important;
}
.box-posible{
  //background-color: $colour-honey;
  background-image: url(../img/banner-sobreMi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0 4rem 0;
  color: white;
  text-align: center;
  margin-top: 2rem;
}
.box-posible h1{
  font-family: "Gatkins-Demo", serif;
  font-size: 5rem;
  color: $colour-dark;
  margin-bottom: 1rem;
  line-height: 3rem;
}
.box-posible p{
  color: $colour-dark;
}
.box-contacto-sobreMi{
  animation: vibracion 3s ease-in infinite;
}

@keyframes vibracion {
  0%{
   transform: translate(0px,0px);
  }
  10%{
    transform: translate(4px,0px);
   }
   20%{
    transform: translate(0px,0px);
   }
   30%{
    transform: translate(4px,0px);
   }
   40%{
    transform: translate(0px,0px);
   }
   50%{
    transform: translate(4px,0px);
   }
   60%{
    transform: translate(0px,0px);
   }
   70%{
    transform: translate(4px,0px);
   }
   80%{
    transform: translate(0px,0px);
   }
   90%{
    transform: translate(4px,0px);
   }
   100%{
    transform: translate(0px,0px);
   }
}

.box-contacto-sobreMi a{
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  margin-top: .5rem;
  &:hover{
   color: $colour-brown;
   transition: color 0.3s ease-in;
  }
}
.box-video-sobreMi video{
  width: auto;
}
.box-video-sobreMi .ratio::before{
  padding: 20rem;
}

/*Cursos*/
.bg-cursos{
  background-image: url(../img/bg-cursos.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 18rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $colour-dark;
  margin-bottom: 0;
}
.bg-cursos h1{
  font-family: "Gatkins-Demo", serif;
  color: $colour-red;
  font-size: 7rem;
  line-height: 4rem;
}
.bg-cursos p{
  font-size: 1.5rem;
  margin-bottom: 0;
}
.galery a{
  text-decoration: none;
}
.box-cursos h1{
  font-family: "Gatkins-Demo", serif;
  color: $colour-red;
  font-size: 3.3rem;
  line-height: 2.2rem;
  text-align: center;
  margin: 2rem 0 1rem 0;
}
.box-cursos p{
  text-align: center;
  color: #828282;
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
}
/*Barras*/
@mixin img-banner-cursos {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  padding-left: 2rem;
}
.bg-barras{
  background-image: url(../img/bg-barras.jpg);
  @include img-banner-cursos;
  margin-bottom: 0;
}
.bg-barras h1{
  font-family: "Gatkins-Demo", serif;
  font-size: 8rem;
}
.box-text-barras{
  text-align: center;
}
.box-text-barras-div{
  background-color: $colour-light-blue;
  padding: 5rem 0;
}
.box-text-barras-div .text-bold{
  color: $colour-brown;
}
.box-text-barras-div-02{
  padding: 5rem 0;
  background-color: #EAEAEA;
  color: $colour-dark;
}
.box-text-barras-div-02 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-text-barras-div-02 h3 span{
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
  margin-left: 1rem;
  line-height: 3rem;
  color: $colour-red;
}
.box-text-barras-div-02 h3{
  font-size: 2.5rem;
  color: $colour-dark;
}
.box-text-barras-div-02 .text-bold:nth-child(1){
  font-size: 1.8rem;
  color: $colour-salmon;
}
.box-text-barras .first-span{
  font-family: "Gatkins-Demo", serif;
  font-size: 4.7rem;
  color: $colour-dark;
  line-height: 3rem;
}
.box-text-barras-div p{
  color: white;
}
.box-text-barras p{
  width: 60%;
  font-size: 2rem;
  margin: auto;
  text-align: center;
  line-height: 2.2rem;
}

.box-barras{
  margin: 4rem 0;
}
.box-barras-row{
  margin: 8rem 0;
}
@mixin img-barras{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 33rem;
}
.img-barras-01{
  background-image: url(../img/img-barras-01.png);
  @include img-barras;
}
.img-barras-02{
  background-image: url(../img/img-barras-02.png);
  @include img-barras;
}
.img-barras-03{
  background-image: url(../img/img-barras-03.png);
  @include img-barras;
}
.img-barras-04{
  background-image: url(../img/img-barras-04.png);
  @include img-barras;
}
.box-text-barras-01{
  text-align: center;
  height: 33rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-text-barras-01 h1{
  font-family: "Gatkins-Demo", serif;
  color: $colour-salmon;
  font-size: 4.5rem;
  line-height: 3rem;
}
.box-text-barras-01 p{
  width: 80%;
}
.box-text-barras-01 ul{
  list-style: none;
}
.img-barras-05{
  background-image: url(../img/img-barras-05.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-certificacion-barras{
  background-color: #EDE1DA;
  color: $colour-dark;
  padding: 5rem 0;
}
.banner-certificacion h1, .banner-certificacion-barras h1{
  font-family: "Gatkins-Demo", serif;
  text-align: center;
  margin-bottom: 3rem;
  text-align: center;
  color: $colour-red;
  font-size: 4.2rem;
  line-height: 2.3rem;
}
.banner-certificacion h3, .banner-certificacion-barras h3{
  text-align: center;
}
.banner-certificacion p, .banner-certificacion-barras p{
  margin-left: 2rem;
  font-size: .8rem;
}
.banner-certificacion hr, .banner-certificacion-barras hr{
  width: 90%;
  margin: auto;
  margin-bottom: 3.5rem;
}
.listado{
  width: 80%;
  margin: auto;
}
.listado li{
  margin-bottom: 1rem;
}
.box-caja-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 3rem 0;
}
.caja-icon{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 3rem;
}
.caja-icon h2{
  font-family: "Gatkins-Demo", serif;
  color: $colour-honey;
  font-size: 4rem;
}
.caja-icon h3{
  font-size: 1.5rem;
  font-weight: 600;
  color: $colour-dark;
  font-family: "Muli-Bold";
}
.caja-icon p{
  margin-bottom: 0 !important;
}
.font-big{
  font-size: 1.4rem;
}
.caja-money{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  background-color: $colour-dark;
  border-radius: 12px;
  box-shadow: 0px 12px 18px -8px rgba(0,0,0,0.8);
  padding: 1.3rem 0;
  margin: 4rem 2rem 0 2rem;
}
.caja-money h2{
  margin-bottom: 0;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  color: $colour-light-brown;
  font-weight: 300;
}
.caja-money p{
  margin-left: 0;
  margin-bottom: 0;
  font-size: 3rem;
  color: $colour-honey;
  font-weight: 500;
  font-family: "Muli-Bold";
}
.caja-billete{
  margin-right: 2rem;
  box-shadow: 5px 3px 10px 1px rgba(0,0,0,0.4) !important;
  font-size: 2.5rem;
  line-height: 2 !important;
  transform: scale(1);
  transition: transform 0.3s ease-in;
  background-color: white;
  padding: 1.5rem;
  border-radius: 50px;
  box-shadow: 5px 3px 10px 1px rgba(0,0,0,0.2);
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caja-billete .icon-banknote{
  color: $colour-honey;
  animation: animated-money 2s infinite linear;
  position: relative;
}

@keyframes animated-money {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(40deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.icon-calendar-check-o, .icon-location{
  color: $colour-red;
  font-size: 2.5rem;
  line-height: 2 !important;
  transform: scale(1);
  transition: transform 0.3s ease-in;
  background-color: white;
  padding: 1.5rem;
  border-radius: 50px;
  box-shadow: 5px 3px 10px 1px rgba(0,0,0,0.2);
}
.container-scale-02{
  width: auto;
  margin: auto;
  margin-bottom: 2rem;
  &:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in;
  }
}
.box-title-button-barras hr, .box-title-button hr{
  margin: 3rem 0;
  color: $colour-dark;
}
.box-title-button-barras{
  padding: 4rem;
  background-color: $colour-light-blue;
  text-align: center;
}
.box-title-button-barras h1{
  width: 60%;
  margin: auto;
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  color: $colour-dark;
}
.box-title-button-barras h1 .text-bold{
  font-weight: 300;
  text-align: center;
  margin: auto;
  font-size: 2.5rem;
  color: $colour-brown;
}
.box-title-button-barras h2, .box-title-button h2{
  color: $colour-dark;
}
.box-title-button-barras h2 span:first-child{
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
}
.box-title-button-barras h2{
  line-height: 2rem;
}
.box-title-button-barras h2 .text-bold{
  font-size: 3rem;
  color: white;
}


.box-button-01 a{
  text-decoration: none;
}
.box-button-fcl{
  margin-top: 4rem;
}
.box-button-fcl ul, .box-button-fcl-02 ul{
  margin-bottom: 0;
  color: $colour-dark;
}
.box-button-fcl-02{
  margin-top: 0;
}
/*Accordion*/
.accordion{
  width: 27%;
  margin: 3rem auto;
} 
.accordion-button{
  color: $colour-brown;
  font-size: 2.8rem;
}
.accordion-button:focus, .accordion-button:not(.collapsed){
  box-shadow: none;
  color: $colour-dark;
  border-color: none;
  background-color: white;
}
.accordion-body{
  text-align: center;
}
.accordion-body h3{
  font-family: "Muli-Bold";
  color: $colour-honey;
}
.accordion-body p{
  margin-bottom: 0;
}
.icon-calendar-fechas{
  box-shadow: none;
  margin-right: 1rem;
}
.icon-location-02{
  box-shadow: none;
  padding: 0 .4rem 0 0;
  color: $colour-blue;
  font-size: 2rem;
}
/*Facelift*/
.container-imgs-facelift{
  margin-bottom: 5rem;
}
.bg-facelift{
  background-image: url(../img/bg-facelift.jpg);
  @include img-banner-cursos;
}
.bg-facelift h1{
  font-family: "Gatkins-Demo", serif;
  font-size: 8rem;
  margin-bottom: 0;
}
.bg-facelift p span{
  font-size: 1.8rem;
}
.img-facelift{
  background-image: url(../img/img-facelift.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 90vh;
  margin-bottom: 5rem;
}
.contenedor-box-facelift{
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.box-facelift{
  background-color: white;
  width: 40%;
  padding: 3rem 2rem;
  margin-right: 2rem;
  text-align: center;
}
.box-facelift h1{
  font-family: "Gatkins-Demo", serif;
  font-size: 4.5rem;
  line-height: 2.5rem;
  color: $colour-red;
}
.box-facelift .text-bold{
  color: $colour-blue;
}
.title-facelift{
  margin-bottom: .5rem;
}
.bg-last-facelift{
  background-color: white;
  color: white;
  padding: 5rem 0;
  //margin-top: 8rem;
  text-align: center;
}
.box-button-facelift{
  background-color: $colour-blue;
  border-radius: 50px;
  text-align: center;
  width: 30%;
  margin: auto;
  padding: .5rem 2.3rem;
  &:hover{
    background-color: #92ADC1;
    color: white;
  }
}
.bg-last-facelift div a{
  text-decoration: none;
  color: white;
}
.img-facelift-01{
  width: 80%;
  &:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in;
  }
}
.img-facelift-04{
  background-image: url(../img/img-facelift-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-certificacion h1{
  color: $colour-dark;
}
.banner-certificacion{
  background-color: $colour-light-blue;
  color: white;
  padding: 5rem 0;
}
.box-title-button{
  padding: 5rem;
  background-color: #EDE1DA;
  text-align: center;
}
.box-title-button h1{
  width: 50%;
  margin: auto;
  text-align: center;
  font-weight: 300;
  color: $colour-dark;
}
.box-title-button h2{
  color: $colour-blue;
}
.box-title-button h2 span:nth-child(3){
  color: $colour-red;
}
.box-title-button h4{
  font-weight: 300;
  text-align: center;
  margin: auto;
  font-size: 1.3rem;
  color: $colour-honey;
}
.box-button-facelift-01{
  margin-top: 2rem;
}
.box-button-01 a, .box-button-02 a{
  text-decoration: none;
}
.box-button-01 p{
  padding: 1.5rem 5rem;
  box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.3);
  background-color: #CF2309;
  border-radius: 50px;
  text-align: center;  
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  color: white;
  font-family: "Muli-Bold";
  font-size: 1.2rem;
  font-weight: 500;
  &:hover{
    background-color: white;
    color: $colour-dark;
  }
}
.box-button-02 p{
  padding: 1.5rem 5rem;
  box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.3);
  background-color: $colour-honey;
  border-radius: 50px;
  text-align: center;  
  color: white;
  font-family: "Muli-Bold";
  font-size: 1.2rem;
  font-weight: 500;
  &:hover{
    background-color: white;
    color: $colour-dark;
  }
}

.box-button-fcl ul{
  margin-bottom: 0;
}
.font-facelift{
  font-size: 2.5rem;
}
/*Fundamento*/
.bg-fundamento{
  background-image: url(../img/bg-fundamento.jpg);
  @include img-banner-cursos;
}
.bg-fundamento h1{
  font-family: "Gatkins-Demo", serif;
  font-size: 8rem;
  margin-bottom: 0;
}
.bg-fundamento p{
  width: 30%;
  text-align: left;
}
.bg-fundamento .text-bold{
  font-size: 1.8rem;
}
.container-fundamento{
  margin: 8rem 0;
}
.text-fundamento, .text-sop{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 34rem;
  text-align: center;
}
.text-fundamento p, .text-sop p{
  text-align: center;
  margin-bottom: 0;
}
.text-fundamento h4{
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
  color: $colour-red;
  margin-bottom: 0;
}
.box-fundamento{
  margin-bottom: 8rem;
}
.box-fundamento h1{
  width: 80%;
  margin: auto;
  line-height: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
.box-fundamento h1 span{
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
  color: $colour-honey;
}
.box-fundamento-01{
  padding: 0;
}
.box-fundamento-02{
  padding-right: 1rem;
  //display: flex;
  //justify-content: flex-end;
}
.img-fundamento-02{
  background-image: url(../img/img-fundamento-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 13rem;
  width: 13rem;
}
.img-fundamento-01{
  background-image: url(../img/img-fundamento-01.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 28rem;
}
.box-banner{
  //background-color: $colour-dark;
  background-image: url(../img/banner-fundamento.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
  text-align: center;
}
.box-banner h1{
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
  color: $colour-blue;
}
.box-banner p{
  margin-bottom: 2.5rem;
}
.button-banner{
  background-color: $colour-salmon;
  border-radius: 50px;
  padding: .5rem 2.3rem;
  width: 30%;
  margin: auto;
  &:hover{
    //background-color: rgba(255,255,255,0.8);
    background-color: $colour-red;
  }
}
.button-banner a{
  text-align: center;
  text-decoration: none;
  color: white;
}
.icon-02{
  width: 10%;
}
.img-fundamento-04{
  background-image: url(../img/img-fundamento-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caja-money small{
  color: white;
}
/*Procesos Corporales*/
.bg-procesos{
  background-image: url(../img/bg-procesos-corporales.jpg);
  @include img-banner-cursos;
}
.img-procesos-corporales{
  width: 90%;
}
.bg-procesos h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  padding-left: 2rem;
}
.bg-procesos span{
  font-family: "Gatkins-Demo", serif;
  font-size: 9rem;
  margin-bottom: 0;
  margin-right: 1rem;
}
.box-text-procesos{
  margin: 6rem auto;
}
.box-text-procesos span{
  color: $colour-red;
}
.box-text-procesos span:nth-child(5){
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
  line-height: 2rem;
  color: $colour-honey;
}
.box-text-procesos p{
  width: 90%;
  margin: auto;
  text-align: center;
}
.button-banner-06{
  text-align: center;
  color: white;
  background-color: $colour-dark;
  border-radius: 50px;
  padding: .5rem 2.3rem;
  width: 70%;
  margin: 4rem auto 0;
  &:hover{
    background-color: $colour-red;
    color: white;
  }
}
.button-banner-06 a{
  color: white;
  text-align: center;
  text-decoration: none;
}
.img-procesos-01{
  background-image: url(../img/img-procesos-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Creando Dinero*/
.bg-dinero{
  background-image: url(../img/bg-creando-dinero.jpg);
  @include img-banner-cursos;
}
.bg-dinero h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  padding-left: 2rem;
}
.bg-dinero span{
  font-family: "Gatkins-Demo", serif;
  font-size: 9rem;
  margin-bottom: 0;
  margin-right: 1rem;
}
/*
.tarjeta-dinero {
  position: relative;
  transform-style: preserve-3d;
  height: 20rem;
}
.adelante,
.atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-backface-visibility: hidden; //oculta la parte de atras cuando gira
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adelante h4, .atras h4 {
  font-family: "Gatkins-Demo", serif;
  font-size: 4.5rem;
  color: $colour-dark;
  text-align: center;
  margin-bottom: 0;
  line-height: 4rem;
}
.adelante p, .atras p{
  width: 80%;
  text-align: center;
  color: white;
  margin-bottom: 0;
}
.atras {
  display: none;
}
.img-dinero {
  background: linear-gradient(to bottom, $colour-blue, $colour-light-blue);
}
.back-dinero {
  background: linear-gradient(to top, $colour-blue, $colour-light-blue);
}
.wrap{
  margin-bottom: 8rem;
}*/
.img-dinero-01{
  width: 90%;
}
.box-question-01{
  margin: 4rem 0;
}
.box-question-01 hr{
  width: 80%;
  margin: 3rem auto;
}
.box-question-dinero{
  padding: 8rem 0;
  text-align: center;
  color: $colour-dark;
}
.box-question-dinero h1{
  font-size: 1.8rem;
  margin-bottom: 0;
}
.box-question-dinero h2{
  width: 80%;
  margin: auto;
}
.box-question-dinero h2 span:nth-child(3){
  font-family: "Gatkins-Demo", serif;
  color: $colour-red;
  font-size: 5rem;
}
.box-question-dinero span:nth-child(2){
  font-family: "Gatkins-Demo", serif;
  color: $colour-honey;
  font-size: 5rem;
  line-height: 4rem;
}

.text-dinero{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 34rem;
}
.text-dinero h1{
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
}
.text-dinero h1 span:first-child{
  font-family: "Gatkins-Demo", serif;
  color: $colour-red;
  font-size: 3.2rem;
}
.text-dinero p{
  text-align: center;
  margin-bottom: 0;
  width: 80%;
}
.button-banner-02{
  text-align: center;
  color: white;
  background-color: $colour-red;
  border-radius: 50px;
  padding: .5rem 2.3rem;
  width: 40%;
  margin: 4rem auto 0;
  &:hover{
    background-color: $colour-dark;
    color: white;
  }
}
.button-banner-02 a{
  color: white;
  text-align: center;
  text-decoration: none;
}
/*Más Facilidad en la crianza*/
.bg-crianza{
  background-image: url(../img/bg-facilidad-crianza.jpg);
  @include img-banner-cursos;
}
.bg-crianza h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  font-size: 4.5rem;
}
.bg-crianza span{
  font-family: "Gatkins-Demo", serif;
  font-size: 9rem;
  margin-left: 1rem;
}
.bg-crianza p:nth-child(2){
  font-size: 2rem;
}

.box-crianza{
  position: absolute;
  z-index: 2;
  top: 11rem;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.box-crianza h1{
  font-family: "Gatkins-Demo", serif;
  color: white;
  font-size: 3.3rem;
  line-height: 2.2rem;
  text-align: center;
  //margin: 2rem 0 1rem 0;
}
.box-crianza p{
  text-align: center;
  color: white;
  width: 90%;
  //margin: auto;
  margin-bottom: 0;
  line-height: 1.5rem;
}
.button-banner-03{
  text-align: center;
  color: white;
  background-color: $colour-dark;
  border-radius: 50px;
  padding: .5rem 2.3rem;
  width: 40%;
  margin: 0 auto 7rem;
  &:hover{
    background-color: $colour-red;
    color: white;
  }
}
.button-banner-03 a{
  text-align: center;
  text-decoration: none;
  color: white;
}
/*Vende con Facilidad*/
.bg-facilidad{
  background-image: url(../img/bg-facilidad.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
}
.bg-facilidad h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  padding-left: 2rem;
}
.bg-facilidad span{
  font-family: "Gatkins-Demo", serif;
  font-size: 9rem;
  margin-bottom: 0;
  margin-right: 1rem;
}
.box-facilidad{
  padding: 5rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caja-title-facilidad{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caja-title-facilidad h1{
  width: 70%;
  margin: auto;
  color: $colour-dark;
  font-size: 1.8rem;
  text-align: center;
}
.caja-title-facilidad h1:nth-child(2){
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
  color: $colour-red;
  text-align: center;
  line-height: 3.5rem;
}
.icon-06{
  width: 10%;
}
.box-facilidad-02{
  background: $colour-light-honey;
  color: $colour-dark;
  text-align: center;
  padding: 5rem 0;
  margin-bottom: 5rem;
}
.box-facilidad-02 h1{
  font-size: 1.7rem;
}
.box-facilidad-02 h1:nth-child(2){
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
  color: $colour-brown;
  line-height: 3rem;
}
.row-vende{
  margin: 2rem 0;
}
.row-vende h1{
  width: 90%;
  font-size: 1.6rem;
}
.font-vende{
  font-family: "Gatkins-Demo", serif;
  font-size: 5rem !important;
  color: $colour-red;
  line-height: 2.8rem;
}
.font-vende-02{
  font-family: "Gatkins-Demo", serif;
  font-size: 5rem !important;
  color: $colour-honey;
  line-height: 2.8rem;
}

.img-vende-01{
  background-image: url(../img/img-vende-01.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 30rem;
}
.img-vende-02{
  background-image: url(../img/img-vende-02.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 30rem;
}
.box-button-vende{
  background-color: #EBDEDA;
  padding: 3rem 0;
  text-align: center;
  margin-top: 5rem;
}
.box-button-vende h1{
  width: 50%;
  margin: auto;
  font-size: 1.6rem;
  color: $colour-dark
}
.box-button-vende h2{
  font-family: "Gatkins-Demo", serif;
  font-size: 5rem;
  width: 50%;
  margin: auto;
  line-height: 2rem;
  margin-top: 4rem;
  color: $colour-red;
}
.box-button-vende span{
  color: $colour-dark-brown;
}
.button-banner-05{
  text-align: center;
  color: white;
  background-color: $colour-dark;
  border-radius: 50px;
  padding: .5rem 2.3rem;
  width: 40%;
  margin: 5rem auto 1rem;
  &:hover{
    background-color: $colour-red;
    color: white;
  }
}
.button-banner-05 a{
  text-align: center;
  text-decoration: none;
  color: white;
}

/*Healy*/
.box-container-healy{
  margin: 6rem;
}
.height-healy{
  height: 34rem;
}
.img-healy{
  height: 33rem;
}
.text-healy{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 34rem;
}
.text-healy p{
  text-align: center;
  width: 70%;
}
.text-healy h2{
  font-family: "Gatkins-Demo", serif;
  color: $colour-salmon;
  font-size: 4rem;
  text-align: center;
  line-height: 2.5rem;
  width: 65%;
  margin-bottom: 2rem;
}
.text-color-03{
  color: $colour-blue;
}
/*Proximos Encuentros*/
.bg-prox{
  background-color: $colour-light-blue;
  height: 90vh;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bg-prox h1{
  font-family: "Gatkins-Demo", serif;
  color: $colour-dark;
  font-size: 5rem;
}
.bg-prox p{
  width: 50%;
  text-align: center;
  margin: 0 auto;
  color: white;
}
/*Sesiones Personalizadas*/
/*SOP*/
.container-sop{
  height: 37rem;
}
.box-sop, .box-emt, .box-abrazo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.box-sop>.text-bold{
  color: $colour-red;
}
.box-sop p{
  width: 70%;
  text-align: center;
}
.box-sop h1{
  font-family: "Gatkins-Demo", serif;
  color: $colour-blue;
  font-size: 5rem;
}
.img-sop{
  background-image: url(../img/img-sop-01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 3rem 0;
  height: 76vh;
}
.box-text-sop{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 
.box-text-sop h1, .text-sop h1{
  font-family: "Gatkins-Demo", serif;
  color: $colour-honey;
  font-size: 4.5rem;  
  width: 80%;
  line-height: 2.3rem;
}
.text-sop h1{
  color: $colour-red;
}
.box-text-sop p{
  width: 70%;
  margin-top: 1rem;
}
.bg-banner-sop{
  //background-color: $colour-blue;
  background-image: url(../img/bg-sop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
  text-align: center;
}
.title-banner-sop{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title-banner-sop h1{
  font-size: 2rem;
  margin-bottom: 0;
  color: $colour-dark;
}
.title-banner-sop h2{
  font-family: "Gatkins-Demo", serif;
  font-size: 5rem;
  margin-left: 1rem;
  color: $colour-salmon;
}
.bg-banner-sop p{
  margin-bottom: 2rem;
}
.button-banner-04{
  color: $colour-dark;
  background-color: white;
  border-radius: 50px;
  padding: .5rem 2.3rem;
  width: 35%;
  margin: auto;
  box-shadow: 10px 11px 10px 3px rgba(0,0,0,0.1);
  &:hover{
    background-color: $colour-salmon;
    color: white;
  }
}
.button-banner-04 a{
  color: black;
  text-decoration: none;
  &:hover{
    color: white;
  }
}
.box-container-sop{
  margin: 1rem auto;
}
/*EMT*/
.img-emt{
  background-image: url(../img/img-emt-01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 3rem 0;
  height: 76vh;
}
.box-emt h1{
  font-family: "Gatkins-Demo", serif;
  color: $colour-red;
  font-size: 5rem;
  line-height: 3rem;
  width: 80%;
}
.box-emt>p{
  color: $colour-dark-brown;
  width: 70%;
  margin-bottom: 2rem;
}
@mixin bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 27rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-emt-02{
  background-image: url(../img/img-emt-02.jpg);
  @include bg-img;
}

.img-emt-02 h1, .img-emt-02 p, .emt-03 h1, .emt-03 p{
  width: 65%;
}
.img-emt-02 p, .emt-03 h1, .emt-03 p{
  color: $colour-dark;
}
.img-emt-02 h1{
  color: $colour-red;
}
.img-emt-02 h1, .emt-03 h1{
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 3rem;
}
.emt-03{
  @include bg-img;
  background-color: white;
  color: white;
}
.emt-03 h1{
  color: white;
}
.emt-03 .font-big{
  color: $colour-honey;
}
.bg-banner-emt{
  background-color: $colour-dark;
  color: white;
  padding: 5rem 0;
  text-align: center;
}
.bg-banner-emt h1{
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
  width: 30%;
  text-align: center;
  margin: auto;
  line-height: 2.5rem;
  margin-bottom: 3rem;
  color: $colour-light-honey;
}
.bg-banner-emt div a{
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 50px;
  padding: .5rem 2.3rem;
  &:hover{
    background-color: $colour-light-salmon;
    color: white;
  }
}
/*Abrazo del Abuso*/
.img-abrazo{
  background-image: url(../img/img-abrazo-01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 3rem 0;
  height: 76vh;
}
.box-abrazo h1{
  font-family: "Gatkins-Demo", serif;
  color: $colour-salmon;
  font-size: 5rem;
}
.box-abrazo>p{
  color: $colour-brown;
}
.font-big-fundamento{
  font-size: 2rem;
  color: $colour-red;
  line-height: 2rem;
}
.font-big-fundamento span{
  color: #828282;
}
.font-big-fundamento-02{
  font-size: 2rem;
  color: $colour-light-brown;
  line-height: 2rem;
  text-decoration: underline;
  &:hover{
    color: $colour-red;
  }
}
.box-container-abrazo{
  margin: 8rem auto;
}
.bg-banner-abrazo{
  background-image: url(../img/bg-abrazo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //background-color: #F5F5F5;
  padding: 5rem 0;
  text-align: center;
}
.bg-banner-abrazo h1{
  font-size: 2rem;
  color: $colour-dark;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bg-banner-abrazo h1 span{
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
  margin-left: 1rem;
  color: $colour-red;
}
.bg-banner-abrazo div a{
  text-decoration: none;
  color: white;
  background-color: $colour-dark;
  border-radius: 50px;
  padding: .5rem 2.3rem;
  &:hover{
    background-color: $colour-red;
    color: white;
  }
}
.text-color-01{
  color: $colour-salmon;
  font-size: 2rem;
  line-height: 2.3rem;
}
.text-bold-02{
  color: $colour-dark;
  margin-bottom: 0;
  font-size: 1.7rem;
}
.img-abrazo-05{
  width: 26rem;
}
/*Osteopatia*/
.row-osteopatia{
  margin: 3rem 0;
}
.img-osteopatia{
  background-image: url(../img/img-osteopatia-01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 3rem 0;
  height: 76vh;
}
@mixin bg-osteopatia {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 36rem;
}
.img-osteopatia-02{
  background-image: url(../img/img-osteopatia-02.png);
  @include bg-osteopatia;
}
.icon-01{
  width: 10%;
  animation: icon-01-animated 2s infinite linear;
}

@keyframes icon-01-animated {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.box-osteopatia{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.box-osteopatia p{
  width: 70%;
  line-height: 2rem;
}
.box-osteopatia p span:nth-child(2){
  color: $colour-red;
}
.box-osteopatia h3{
  font-family: "Gatkins-Demo", serif;
  font-size: 4rem;
  margin-bottom: 0;
  line-height: 3rem;
  color: $colour-honey;
}
.img-osteopatia-03{
  background-image: url(../img/img-osteopatia-03.jpg);
  @include bg-osteopatia;
}
.img-osteopatia-04{
  background-image: url(../img/img-osteopatia-04.png);
  @include bg-osteopatia;
}
.button-osteopatia{
  margin-top: 2rem
}
.button-osteopatia a{
  text-decoration: none;
  color: white;
  background-color: $colour-blue;
  padding: .5rem 2rem;
  border-radius: 50px;
  &:hover{
    background-color: $colour-light-blue;
    color: $colour-dark;
  }
}
.icon-03{
  width: 15%;
}
.text-color-02{
  color: $colour-red;
  font-size: 1.5rem;
}
