$colour-honey: #D6B671;
$colour-brown: #6D5120;
$colour-salmon: #D99B77;
$colour-dark-brown: #443836;
$colour-light-honey: #E5CE95;
$colour-light-brown: #A88F88;
$colour-super-light-brown: #D3BFB0;
$colour-red: #E06350;
$colour-dark: #373543;
$colour-light-salmon: #DAA494;
$colour-light-blue: #B8C3CA;
$colour-blue: #728EA4;
